html {
  height: 100%;
  font-size: 16px;
  scrollbar-gutter: stable;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  min-height: 100%;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

#root {
  min-height: 100vh;
}

#portal {
  position: relative;
  z-index: 9999;
}